interactions:
- request:
    body: '{"person": {"id": "-1", "firstName": "Test", "lastName": "User", "username":
      "test.user.2025@example.com", "emailAddress": "test.user.2025@example.com",
      "dateOfBirth": "2000-01-01", "password": "Test123!", "active": true, "knownAs":
      "", "middleNames": "", "language": "", "sidebarWidth": "", "uuid": "test-uuid-123",
      "sex": "Male"}}'
    headers:
      Authorization:
      - Basic cHl0aG9uLmNvbm5lY3RvcjpDb25uZWN0b3IxMjMh
      Content-Type:
      - application/json
      X-APP-ID:
      - external.example.postman
      session-header:
      - Hyy2Vt685+7LgpJS+xVwClGF
    method: POST
    uri: https://learn.smartabase.com/ankle/api/v2/person/save?informat=json&format=json
  response:
    body:
      string: '{"active":true,"admin":false,"pending":false,"communicationPreferences":null,"sex":"0","avatarId":0,"id":121185,"organisationId":0,"ownerId":120855,"plan":0,"state":0,"emailAddress":"test.user.2025@example.com","firstName":"Test","knownAs":"","language":"English","lastName":"User","middleNames":"","sidebarWidth":"","skypeName":null,"timezone":null,"username":"test.user.2025@example.com","uuid":"test-uuid-123","addresses":null,"favoriteDashboards":null,"favoriteEvents":null,"frontPageButtons":null,"phoneNumbers":null,"accountExpiration":"01/01/1970","dateOfBirth":"01/01/2000","__mtime__":1747406918247}'
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
      session-header:
      - Hyy2Vt685+7LgpJS+xVwClGF
    status:
      code: 200
      message: OK
version: 1
