interactions:
- request:
    body: '{"identification": []}'
    headers:
      Authorization:
      - Basic cHl0aG9uLmNvbm5lY3RvcjpDb25uZWN0b3IxMjMh
      Content-Type:
      - application/json
      X-APP-ID:
      - external.example.postman
      session-header:
      - Sj7JdzRT4-YhRubDJLqoeySD
    method: POST
    uri: https://learn.smartabase.com/ankle/api/v1/usersearch?informat=json&format=json
  response:
    body:
      string: '{"results": [{"search": {},"results": [{"userId": 31152,"firstName":
        "Site","lastName": "Owner","dob": "27/04/2000","middleName": "","emailAddress":
        "learn@fusionsport.com","knownAs": "protected","organisationalId": -1,"username":
        "fusion.support","sex": "MALE","uuid": "31152"},{"userId": 72788,"firstName":
        "Brandon","lastName": "Yach","dob": "19/09/2019","middleName": "","emailAddress":
        "byach@teamworks.com","knownAs": "","organisationalId": -1,"username": "brandon.yach","sex":
        "MALE","uuid": ""},{"userId": 72827,"firstName": "Riley","lastName": "Jones","dob":
        "01/12/1990","middleName": "","emailAddress": "riley.jones@newdomain.com","knownAs":
        "","organisationalId": -1,"username": "Riley.Jones","phoneNumbers": [{"type":
        "MOBILE","countryCode": "1","prefix": "333","number": "4567891"}],"sex": "MALE","uuid":
        "new123"},{"userId": 72828,"firstName": "Samantha","lastName": "Fields","dob":
        "02/10/1985","middleName": "","emailAddress": "sam.fields@newdomain.com","knownAs":
        "","organisationalId": -1,"username": "Samantha.Fields","phoneNumbers": [{"type":
        "HOME","countryCode": "","prefix": "","number": ""}],"sex": "FEMALE","uuid":
        "new456"},{"userId": 72829,"firstName": "Mary","lastName": "Phillips","dob":
        "29/09/2000","midd[...]
- request:
    body: '{"filter": {"comparisons": {"op": "0", "branches": [{"leaf": {"negated":
      false, "comp": "1", "fieldName": "id", "valueInteger": ["31152", "72788", "72827",
      "72828", "72829", "72830", "72831", "72832", "72833", "72834", "72835", "72836",
      "72837", "72838", "72839", "72840", "72841", "72842", "72843", "72844", "72845",
      "72846", "72847", "72848", "72849", "72850", "72851", "72852", "72853", "72854",
      "72855", "72856", "72857", "72858", "72859", "72860", "72861", "72862", "72863",
      "72864", "72865", "72866", "74713", "74714", "74715", "74716", "74717", "74718",
      "74719", "74720", "74721", "74722", "74723", "74724", "74725", "74726", "74727",
      "74728", "74800", "74994", "75062", "75063", "75357", "75358", "75359", "120855",
      "120890", "120891", "120921", "120958", "120959", "121077", "121086", "121152",
      "121153", "121154", "121155"]}}]}, "limit": "-1", "offset": "-1"}}'
    headers:
      Authorization:
      - Basic cHl0aG9uLmNvbm5lY3RvcjpDb25uZWN0b3IxMjMh
      Content-Type:
      - application/json
      X-APP-ID:
      - external.example.postman
      session-header:
      - Sj7JdzRT4-YhRubDJLqoeySD
    method: POST
    uri: https://learn.smartabase.com/ankle/api/v2/person/get?informat=json&format=json
  response:
    body:
      string: '{"objects":[{"active":true,"admin":true,"pending":false,"communicationPreferences":"3","sex":"0","avatarId":-1,"id":31152,"organisationId":-1,"ownerId":19529,"plan":-1,"state":-1,"emailAddress":"learn@fusionsport.com","firstName":"Site","knownAs":"protected","language":"English","lastName":"Owner","middleNames":"","sidebarWidth":"400","skypeName":null,"timezone":"Europe/Berlin","username":"fusion.support","uuid":"31152","addresses":[],"favoriteDashboards":[4284,4185,3959,5470,5404,3818],"favoriteEvents":[16645,16387,17667,17668,21379],"frontPageButtons":[],"phoneNumbers":[],"accountExpiration":"01/01/1970","dateOfBirth":"27/04/2000","__mtime__":1747398016303},{"active":true,"admin":false,"pending":false,"communicationPreferences":"3","sex":"0","avatarId":-1,"id":72788,"organisationId":-1,"ownerId":31152,"plan":-1,"state":-1,"emailAddress":"byach@teamworks.com","firstName":"Brandon","knownAs":"","language":"English","lastName":"Yach","middleNames":"","sidebarWidth":"","skypeName":null,"timezone":"America/Denver","username":"brandon.yach","uuid":"","addresses":[],"favoriteDashboards":null,"favoriteEvents":[],"frontPageButtons":[],"phoneN[...]
