interactions:
- request:
    body: '{"username": "python.connector", "password": "Connector123!", "loginProperties":
      {"appName": "ankle", "clientTime": "2025-05-16T08:28:07"}}'
    headers:
      Authorization:
      - Basic cHl0aG9uLmNvbm5lY3RvcjpDb25uZWN0b3IxMjMh
      Content-Type:
      - application/json
      X-APP-ID:
      - external.example.postman
    method: POST
    uri: https://learn.smartabase.com/ankle/api/v2/user/loginUser?informat=json&format=json
  response:
    body:
      string: '{"isAthlete":true,"isCoach":true,"isAdmin":false,"user":{"active":true,"admin":false,"pending":false,"communicationPreferences":"0","sex":"2","avatarId":-1,"id":120855,"organisationId":-1,"ownerId":72788,"plan":-1,"state":0,"emailAddress":"python.connector@ams.com","firstName":"Python","knownAs":"","language":"English","lastName":"Connector","middleNames":"","sidebarWidth":"250px","skypeName":"8223289374174927102","timezone":"","username":"python.connector","uuid":null,"addresses":[],"favoriteDashboards":[],"favoriteEvents":[],"frontPageButtons":[],"phoneNumbers":[],"accountExpiration":"01/01/1970","dateOfBirth":"24/03/2025","__mtime__":1742851291804},"applicationId":1044,"loginActions":[],"restrictionPolicyIds":[],"permissions":["Calendar","Enter
        Data For Group","Reports","Edit Athlete Accounts","Import Data","Enter Data","Profile
        Data","Athlete History","Resources - Upload","Import Profile Data","Groups","Enter
        Appointment","Account Read","Account Write","Resources","Reports - Export","Accounts
        Audit Export"]}'
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
      session-header:
      - d7IxtJ36OSa3A0ywlA-NmCqI
    status:
      code: 200
      message: OK
version: 1
