interactions:
- request:
    body: '{"username": "python.connector", "password": "Connector123!", "loginProperties":
      {"appName": "ankle", "clientTime": "2025-05-16T08:48:35"}}'
    headers:
      Authorization:
      - Basic cHl0aG9uLmNvbm5lY3RvcjpDb25uZWN0b3IxMjMh
      Content-Type:
      - application/json
      X-APP-ID:
      - external.example.postman
    method: POST
    uri: https://learn.smartabase.com/ankle/api/v2/user/loginUser?informat=json&format=json
  response:
    body:
      string: '{"isAthlete":true,"isCoach":true,"isAdmin":false,"user":{"active":true,"admin":false,"pending":false,"communicationPreferences":"0","sex":"2","avatarId":-1,"id":120855,"organisationId":-1,"ownerId":72788,"plan":-1,"state":0,"emailAddress":"python.connector@ams.com","firstName":"Python","knownAs":"","language":"English","lastName":"Connector","middleNames":"","sidebarWidth":"250px","skypeName":"8670025826523154849","timezone":"","username":"python.connector","uuid":null,"addresses":[],"favoriteDashboards":[],"favoriteEvents":[],"frontPageButtons":[],"phoneNumbers":[],"accountExpiration":"01/01/1970","dateOfBirth":"24/03/2025","__mtime__":1742851291804},"applicationId":1044,"loginActions":[],"restrictionPolicyIds":[],"permissions":["Calendar","Enter
        Data For Group","Reports","Edit Athlete Accounts","Import Data","Enter Data","Profile
        Data","Athlete History","Resources - Upload","Import Profile Data","Groups","Enter
        Appointment","Account Read","Account Write","Resources","Reports - Export","Accounts
        Audit Export"]}'
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json;charset=utf-8
      session-header:
      - Hyy2Vt685+7LgpJS+xVwClGF
    status:
      code: 200
      message: OK
- request:
    body: '{"identification": []}'
    headers:
      Authorization:
      - Basic cHl0aG9uLmNvbm5lY3RvcjpDb25uZWN0b3IxMjMh
      Content-Type:
      - application/json
      X-APP-ID:
      - external.example.postman
      session-header:
      - Hyy2Vt685+7LgpJS+xVwClGF
    method: POST
    uri: https://learn.smartabase.com/ankle/api/v1/usersearch?informat=json&format=json
  response:
    body:
      string: '{"results": [{"search": {},"results": [{"userId": 31152,"firstName":
        "Site","lastName": "Owner","dob": "27/04/2000","middleName": "","emailAddress":
        "learn@fusionsport.com","knownAs": "protected","organisationalId": -1,"username":
        "fusion.support","sex": "MALE","uuid": "31152"},{"userId": 72788,"firstName":
        "Brandon","lastName": "Yach","dob": "19/09/2019","middleName": "","emailAddress":
        "byach@teamworks.com","knownAs": "","organisationalId": -1,"username": "brandon.yach","sex":
        "MALE","uuid": ""},{"userId": 72827,"firstName": "Riley","lastName": "Jones","dob":
        "01/12/1990","middleName": "","emailAddress": "riley.jones@newdomain.com","knownAs":
        "","organisationalId": -1,"username": "Riley.Jones","phoneNumbers": [{"type":
        "MOBILE","countryCode": "1","prefix": "333","number": "4567891"}],"sex": "MALE","uuid":
        "new123"},{"userId": 72828,"firstName": "Samantha","lastName": "Fields","dob":
        "02/10/1985","middleName": "","emailAddress": "sam.fields@newdomain.com","knownAs":
        "","organisationalId": -1,"username": "Samantha.Fields","phoneNumbers": [{"type":
        "HOME","countryCode": "","prefix": "","number": ""}],"sex": "FEMALE","uuid":
        "new456"},{"userId": 72829,"firstName": "Mary","lastName": "Phillips","dob":
        "29/09/2000","midd[...]
